abbr, abbr[title], abbr[data-original-title] {
    border-bottom: none;
    text-decoration: none;
}

abbr.acronym, .caps {
    font-variant: oldstyle-nums small-caps;
    letter-spacing: 0.05em;
    text-transform: lowercase;
}

aside blockquote {
    border: none;
    margin: 0;
    padding: 0;
}

.e-content a[target=_blank]:after {
    content: "\f08e"; /* fa-external-link */
    font-family: FontAwesome;
    font-size: 0.65em;
    font-style: normal;
    font-weight: normal;
    padding-left: 0.3em;
}

.e-content a[target=_blank].url:before {
    content: "\f08e"; /* fa-external-link */
    font-family: FontAwesome;
    font-size: 0.65em;
    font-style: normal;
    font-weight: normal;
    padding-right: 0.3em;
}

.e-content a[target=_blank].url:after {
    content: normal;
}

pre .caps {
    font-variant: normal;
    text-transform: none;
    letter-spacing: 0;
}

a {
    color: #337ab7;
    text-decoration: none;
}

a:hover, a:focus {
    /* border-bottom: 1px solid #23527c; */
    /* border-bottom: 1px dotted #337ab7; */
    border-bottom: 1px solid #ccc;
    color: #23527c;
    text-decoration: none;
}

/* a code, a kbd, a samp, a tt, */
/* b code, b kbd, b samp, b tt, */
/* del code, del kbd, del samp, del tt, */
/* s code, s kbd, s samp, s tt, */
/* strong code, strong kbd, strong samp, strong tt, */
/* table code, table samp, table tt, */
/* h1 code, h1 kbd, h1 samp, h1 tt, */
/* h2 code, h2 kbd, h2 samp, h2 tt, */
/* h3 code, h3 kbd, h3 samp, h3 tt, */
/* h4 code, h4 kbd, h4 samp, h4 tt, */
/* h5 code, h5 kbd, h5 samp, h5 tt, */
/* h6 code, h6 kbd, h6 samp, h6 tt { */
/*     background-color: inherit; */
/*     font-size: 0.75em !important; */
/*     padding: 0; */
/* } */

/* b, strong, h1 .fa, h2 .fa, h3 .fa, h4 .fa, h5 .fa, h6 .fa { */
/*     font-size: 0.85em; */
/* } */

/*
b code, b kbd, b samp, b tt,
strong code, strong kbd, strong samp, strong tt {
    font-size: 0.8em !important;
}
*/

blockquote {
    border-left: 5px solid rgba(0, 0, 0, 0.1);
    /* color: #555; */
    color: inherit;
    font-size: 1em;
    margin: 1em 0 1em 0;
    padding-left: 20px;
    padding: 0px 20px;
}

blockquote footer {
    font-size: 1em;
}

blockquote footer:before {
  content: '\2013\00A0';
}

body {
    /* color: rgba(0, 0, 0, 0.8) !important; */
    color: #555 !important;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Lato, "Open Sans", Avenir, "Avenir Next", "Myriad Set Pro", "Myriad Pro", Myriad, Ubuntu, "Bitstream Vera Sans", "DejaVu Sans", Helvetica, Arial, Tahoma, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol" !important;
    font-size: 105% !important;
    font-variant: discretionary-ligatures oldstyle-nums;
    line-height: 1.5;
    margin-bottom: 2em;
    margin-top: 3em;
    text-rendering: optimizelegibility;
    -webkit-font-variant-ligatures: discretionary-ligatures;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
}

.h-entry > header, .e-content > * {
    margin-left: auto;
    margin-right: auto;
    max-width: 840px;
    padding-left: 80px;
    padding-right: 80px;
    width: 100%;
}

code, kbd, samp, tt {
    white-space: pre-wrap;
}

code, kbd, samp, tt, pre {
    background-color: #f9f9f9;
    border-radius: 0;
    border: none;
    color: inherit;
    font-family: Consolas, "Consolas Web", Menlo, Monaco, "Liberation Mono", Courier, monospace !important;
    font-size: 0.8em !important;
    font-variant: normal;
    -moz-osx-font-smoothing: auto;
}

dd {
    margin-left: 1em;
}

figure {
    margin-bottom: 1em;
    margin-top: 1em;
}

h1, h2, h3, h4, h5, h6 {
    /* color: #333; */
    color: #23527c;
    font-style: normal;
    /* font-weight: bold; */
    margin: 1em 0 15px;
}

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a,
h1 a:link, h2 a:link, h3 a:link, h4 a:link, h5 a:link, h6 a:link,
h1 a:hover, h2 a:hover, h3 a:hover, h4 a:hover, h5 a:hover, h6 a:hover {
    color: inherit;
}

/* h2 em, h3 em, h4 em, h6 em, .p-summary em { */
.p-summary em {
    font-style: normal;
}

header {
    color: #23527c;
}

header h1, header h2 {
    font-style: normal;
    text-align: center;
}

h1 {
    font-size: 3em;
    font-weight: 200;
    padding-bottom: 0.3em;
}

h2 {
    font-size: 1.9em;
    font-weight: 200;
}

h3 {
    font-size: 1.4em;
    font-weight: 200;
}

h4 {
    font-size: 1em;
    font-weight: bold;
}

h5 {
    font-size: 1em;
    font-style: italic;
}

h6 {
    font-size: 1em;
}

/* hr { */
/*     border: none; */
/*     color: rgba(0, 0, 0, 0.6); */
/*     padding: 0.5em 0; */
/*     text-align: center; */
/* } */

/* hr:before { */
/*     content: "..."; */
/*     /\* content: "\2766"; /\\* fleuron: floral heart *\\/ *\/ */
/*     letter-spacing: 0.6em; */
/*     position: relative; */
/*     text-align: center; */
/*     /\* top: -1em; *\/ */
/*     top: -0.8em; */
/* } */

hr {
    border: none;
    border-bottom: 1px solid #eee;
    padding: 0;
    margin-bottom: 1.5em;
    margin-top: 1.5em;
}

hr:before {
    content: normal;
}

hr.footnotes-sep {
    border-bottom: 1px solid #ccc;
    margin-left: 0;
    padding: 1em 0 0 0;
    width: 20%;
}

hr.footnotes-sep:before {
    content: normal;
}

html {
    font-size: initial !important;
}

div.figure {
    max-width: 100%;
}

div.figure img {
    width: 100%;
}

img {
    max-width: 100%;
}

kbd {
    background-color: #fcfcfc;
    border-color: #ccc #ccc #bbb;
    border-image: none;
    border-radius: 3px;
    border-style: solid;
    border-width: 1px;
    box-shadow: 0 -1px 0 #bbb inset;
    color: #555;
    display: inline-block;
    font-family: inherit !important;
    /* font-size: 0.5em !important; */
    font-variant-numeric: normal;
    line-height: 1em;
    padding: 3px 5px;
    vertical-align: middle;
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
}

kbd .fa, kbd .glyphicon {
    color: inherit !important;
}

mark, .mark {
    color: inherit;
    background-color: rgba(39, 243, 106, 0.1); /* #e8fef0 */
    padding: 0;
}

.mark {
    cursor: pointer;
}

.mark:hover {
    background-color: rgba(97, 255, 160, 0.8); /* #7cffb1 */
}

nav, .navbar-default {
    border: none;
    background-color: inherit;
}

.nav > li > a:hover,
.nav > li > a:hover .fa,
.nav > li > a:focus,
.nav > li > a:focus .fa {
    background-color: inherit;
    color: #000000 !important;
}

nav {
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.15);
    font-size: 12px;
}

p {
    margin: 1em 0 1em 0;
}

pre {
    margin: 1em 0;
    padding: 1.5em;
}

pre code, pre kbd, pre samt, pre tt {
    font-size: 1em !important;
}

sub, sup {
    font-variant: normal;
}

table, .table {
    margin: 1em auto;
    width: auto;
}

time, .author {
    /* color: rgba(0, 0, 0, 0.44); */
    margin-top: 0em;
    font-weight: normal;
}

article ul, #toc ul {
    list-style-type: none;
}

article ul > li, #toc ul > li {
    text-indent: 0 !important;
}

article ul > li:before, #toc ul > li:before {
    color: rgba(0, 0, 0, 0.6);
    content: "\2022";
    margin-left: -0.9em;
    position: absolute;
}

.fa, .glyphicon, nav a, nav a:hover {
    border: none;
    color: rgba(0, 0, 0, 0.5) !important;
}

.logo {
    color: #666;
    display: block;
    float: right;
    font-size: 5em;
    padding-right: 0.1em;
    z-index: 100;
}

.pull-quote {
    border-bottom: 5px solid rgba(0, 0, 0, 0.1);
    border-left: none;
    border-top: 5px solid rgba(0, 0, 0, 0.1);
    font-size: 1.1em;
    line-height: 1.3;
    margin: 1em 3em;
    padding: 1em;
}

.pull-quote.left, .pull-quote.right {
    padding: 0.5em;
    width: 10em;
}

.pull-quote.left {
    margin: 0.3em 1em 0.5em 0;
}

.pull-quote.right {
    margin: 0.3em 0 0.5em 1em;
}

.pull-quote p {
    margin: 0;
}

.left {
    float: left;
}

.right {
    float: right;
}

.navbar {
    min-height: 0;
}

.hljs-name {
    color: #183691;
    font-weight: normal;
}

.hljs-name .hljs-builtin-name, .hljs-keyword {
    color: #a71d5d;
    font-weight: normal;
}

/* .h-card { */
/*     display: none; */
/* } */

.author {
    text-align: center;
}

.p-author {
    /* font-style: italic; */
}

.flag-icon {
    font-size: 0.6em;
    vertical-align: middle;
}

.p-summary {
    /* font-style: italic; */
    font-size: 1.3em;
    font-weight: 200;
    text-align: center;
}

.dquo {
    margin-left: -0.2em;
}

.quo {
    margin-left: -0.1em;
}

.url {
    font-style: italic;
    font-variant-ligatures: none;
    word-wrap: break-word;
}

header {
    margin-bottom: 1em;
}

/* TODO: remove the actual HTML elements */
header .header-anchor, header .collapse-button {
    display: none;
}

header h1 {
    margin: 0;
    padding: 0;
}

header p {
    margin-top: 1em !important;
}

/*
Bootstrap provides four classes (configurable with Less):
-   xs (<768px): 0-767 pixels
    -   "xxs" (<=480px): 0-480 pixels
        -   max-width: 480px (or max-device-width: 480px)
        -   iPhone (orientation: portrait)
    -   481-767 pixels
        -   Extra small devices
        -   Phones
        -   iPhone (orientation: landscape)
-   sm (>=768px): 768-991 pixels
    -   Small devices
        -   Tablets
        -   iPad (orientation: portrait)
-   md (>=992px): 992-1199 pixels
    -   Medium devices
        -   Desktops
        -   iPad (orientation: landscape)
-   lg (>=1200px): 1200-oo pixels
    -   Large devices
        -   Large desktops
*/

@media (max-width: 768px) {
    .navbar-left {
        float: left;
    }

    .navbar-right {
        float: right;
    }
}

@media (max-width: 550px) {
    body {
        font-size: 100% !important;
    }

    .h-entry > header, .e-content > * {
        padding-left: 20px;
        padding-right: 20px;
    }
}

.spoiler, .spoiler * {
    background-color: #f9f9f9;
    color: #f9f9f9 !important;
    transition: 2.5s;
}

.spoiler:hover, .spoiler:hover * {
    color: inherit !important;
    transition: 5s;
}

s *, s *:before, s *:after {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.task-list-item input {
    margin-right: 0.5em;
}

.task-list-item label {
    font-weight: inherit;
}

.task-list-item:before {
    content: normal;
}

.task-list {
    padding-left: 0;
}

.task-list .task-list {
    padding-left: 1.5em;
}

.nobr {
    white-space: pre;
}

.emoji_blue_book {
    color: #42ade2;
}

.emoji_green_book {
    color: #83bf4f;
}
