/**
 * LaTeX logos
 *
 * Loosely adapted from:
 * http://edward.oconnor.cx/2007/08/tex-poshlet
 * http://nitens.org/taraborelli/texlogo
 */

.latex-a {
    font-size: 70%;
    line-height: 0;
    margin-left: -0.36em;
    margin-right: -0.15em;
    text-transform: uppercase;
    vertical-align: 0.3em;
}

.tex-e {
    line-height: 0;
    margin-left: -0.1667em;
    margin-right: -0.07em;
    text-transform: uppercase;
    vertical-align: -0.5ex;
}

.xetex-e {
    line-height: 0;
    margin-left: -0.07em;
    margin-right: -0.17em;
    vertical-align: -0.5ex;
}
