body {
    color: rgb(23, 43, 77) !important;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Myriad Web", "Myriad Pro", "Myriad Std", Myriad, "Helvetica Neue", Helvetica, Arial, "Arial Unicode", Avenir, "Avenir Next", "Gill Sans MT", "Gill Sans", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, sans-serif !important;
    font-size: 95% !important;
    font-variant: normal;
    line-height: 1.5;
}

a, a:hover {
    border: none;
    color: #0052cc;
}

a:hover {
    color: #0065ff;
    text-decoration: underline;
}

blockquote {
    border-left: 1px solid rgb(193, 199, 208);
    padding-left: 0.75em;
}

code, kbd, samp, tt, pre {
    background-color: rgb(244, 245, 247);
    border-radius: 3px;
    font-size: 0.9em !important;
}

pre {
    padding: 0.5em;
}

hr {
    border: none;
    border-bottom: 1px solid rgb(223, 225, 230);
    padding: 0;
    margin-bottom: 1.5em;
    margin-top: 1.5em;
    text-align: center;
}

hr:before {
    content: normal;
}

h1, h2, h3, h4, h5, h6 {
    font-family: inherit !important;
    font-weight: normal;
}

h1 {
    font-size: 2em;
}

h2 {
    font-size: 1.5em;
}

h3 {
    font-size: 1.27em !important;
}

h4 {
    font-size: 1em;
}

h5 {
    font-size: 1em;
    font-style: italic;
}

h6 {
    font-size: 1em;
}

header h1, header h2 {
    border: none;
}

.e-content ul a.collapse-button,
.e-content ul a.collapse-button:before,
.e-content ul a.collapse-button[aria-expanded="true"]:before {
    color: inherit !important;
}

.e-content ul a.collapse-button:before {
    content: "\2022";
    font-family: inherit;
}

.e-content ul a.collapse-button[aria-expanded="true"]:before {
    content: "\2022";
    font-family: inherit;
}

.header-anchor:before {
    content: "\e144"; /* glyphicon-link */
    font-family: 'Glyphicons Halflings';
}

body nav, body .navbar-default {
    background-color: rgb(244, 245, 247);
    /* color: #ffffff !important; */
}

nav {
    box-shadow: none;
}

.navbar-form {
    box-shadow: none !important;
}
