/* abbr.acronym, .caps { */
/*     font-variant: normal; */
/*     text-transform: none; */
/* } */

a, a:hover {
    border: 1px solid red;
    padding: 0;
}

body {
    font-family: "Latin Modern", "Latin Modern Roman", "LM Roman", "Latin Modern Roman 12", "LM Roman 12", "Computer Modern", "CMU Serif", Merriweather, "Charis SIL", Lora, "Crimson Text", Crimson, "PT Serif", "Iowan Old Style", Iowan, "Iowan Web", Georgia, Constantia, Cambria, Charter, "Hoefler Text", Utopia, Marion, Cochin, "Palatino Linotype", Palatino, Baskerville, serif !important;
    font-size: 130% !important;
}

code, kbd, samp, tt {
    background: inherit;
    padding: 0;
}

code, kbd, samp, tt, pre {
    font-family: "Latin Modern Mono", "LM Mono", "Latin Modern Mono 12", "LM Mono 12", "CMU Typewriter Text", "Compter Modern Mono", "Concrete Roman", "Consolas Web", Consolas, Menlo, Monaco, "Liberation Mono", Courier, monospace !important;
    font-size: 0.85em !important;
}

blockquote, pre {
    background: inherit;
    border: none;
    margin-left: 1.3em;
    padding: 0;
}

h1, h2, h3, h4, h5, h6 {
    font-family: inherit !important;
}

pre .btn {
    background: #fff !important;
}
