@import url("https://fonts.googleapis.com/css?family=Lora:400,400italic,700,700italic");

body {
    font-family: Lora, "Adobe Garamond Pro", "Garamond Premier Pro", "ITC Garamond Std", Garamond, Baskerville, "Baskerville Old Face", "Crimson Text", Crimson, "Iowan Old Style", Iowan, "Iowan Web", Georgia, Charter, "Hoefler Text", "Calisto MT", Constantia, Andalus, Centaur, Cambria, Utopia, Marion, Cochin, "Palatino Linotype", Palatino, Baskerville, serif !important;
    font-size: 115% !important;
    line-height: 1.4;
}

h1, h2, h3, h4, h5, h6 {
    font-family: inherit !important;
}

code, kbd, samp, tt, pre {
    font-size: 0.9em !important;
}

@media (max-width: 767px) {
    body {
        font-size: 113% !important;
        line-height: 1.45;
    }
}
