@import url("https://fonts.googleapis.com/css?family=PT+Serif:400,400italic,700,700italic");

body {
    font-family: "PT Serif", serif !important;
    font-size: 120% !important;
    line-height: 1.5;
}

h1, h2, h3, h4, h5, h6, nav, button, input, kbd, textarea, .modal {
    font-family: "Segoe UI", Arial, Helvetica, sans-serif !important;
}

code, kbd, samp, tt, pre {
    font-size: 0.8em !important;
}
