body {
    font-family: Verdana, sans-serif !important;
    font-size: 85% !important;
    line-height: 1.5;
}

h1, h2, h3, h4, h5, h6, nav, button, input, kbd, textarea, .modal {
    font-family: inherit !important;
}

code, kbd, samp, tt, pre {
    font-size: 0.95em !important;
}

@media (max-width: 767px) {
    body {
        font-size: 80% !important;
        line-height: 1.4;
    }
}
